:root {
    --cor-principal: #f3f3f3;
    --cor-texto-principal: #212121;
    --cor-texto-segundaria: #fdfdfd;
    --cor-texto-butom: #f8f8f9;
    --cor-border-butom: red;
    --cor-butom-houver: #001612;
    --cor-cabecalho: #001823;
    --cor-price: #41B06E;
    --cor-footer: #CCD3CA;
  }
  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
}

body {
    background-color:var(--cor-principal);
}

.div-main {
    min-width: 480px;
    max-width: 1500px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
    background-color: var(--cor-texto-principal) ;
    color: #F4DFC8;
    

    height: 80px;
    padding: 20px 5%;
}

/* header:hover {
    text-decoration: none;
    text-decoration: underline;
    background-color: var(--cor-texto-principal) ;
    color: #F4DFC8;
} */




.nome_principal {
text-decoration: none;
color:var(--cor-principal);
font-size: 16px;
}



.logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo span {
    font-weight: 700;
}


.promocao_header {
    text-align: end;
    gap: 9px;
    padding: 50px;
    text-decoration: none;
    color: var(--cor-texto-butom);
}

.promocao_header:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner-container {
    display: flex;
    justify-content: center;
}

.banner-image {
    max-height: auto;
    min-width: 480px;
    max-width: 1500px;
    object-fit: cover;
}

/*section {
    overflow-x: hidden;
}*/

.promotion-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-footer);

    padding: 12px 4%;
}

.promotion-header-title {
    font-weight: 700;
    color:var(--cor-principal);
}

.produto_header {
    font-weight: 700;
    color:var(--cor-texto-principal);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--cor-cabecalho); /* original: #eee */
}

/* header:hover {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    
    background-color: var(--cor-texto-principal) ;
    color: #F4DFC8;

    

    height: 180px;
   gap: 35px;
  }  */


main {
    display: flex;
    justify-content: space-between;

    padding: 30px 5%;
}

.product-page {
    /*display: flex;
    flex-direction: column;*/
    display: block;
    padding: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.product-container {
    float: left;
    padding: 40px 60px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

    transition: 0.3s;
}

.product img:hover {
    border-radius: 50px;
}

.product span {
    font-weight: 700;
}

.preço_rs {
text-decoration: none;
}

.price_rs { 
      color: var(--cor-texto-principal);
} 

.price {
    color: var(--cor-price);
    text-decoration: none;
}

.price:hover {
    font-size: 35px;
}

footer {
    background-color: var(--cor-footer);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ddd;
    padding: 20px 5%;
}

.footer-top--left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-top--left a {
    color:var(--cor-texto-principal);
    font-weight: 700;
    text-decoration: none;
}

.footer-top--left a:hover {
    text-decoration: underline;
}

.footer-top--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.footer-top--right span {
    color: var(--cor-texto-principal);
    font-weight: 700;
}

.footer-news-letter {
    display: flex;
    align-items: center;
}

.footer-input {
    width: 250px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid #eee;
    border-radius: 4px;
}

.footer-button {
    width: 90px;
    height: 40px;

    color: white;
    font-weight: 700;

    border: 1px solid #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 40px;
    background-color: #5ca720;

    transition: 0.2s;
}

.footer-button:hover {
    /*background-color: #51921c;*/

    border-top-right-radius: 40px;
    border-bottom-right-radius: 4px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;

    border-top: 2px solid #ddd;
}

.footer-bottom--left, .footer-bottom--right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer p {
    padding: 20px;
    color: rgb(18, 18, 18);
}

footer p a {
    color: black;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.footer-image {
    height: 20px;
}

